@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.pt-12 {
  padding: 0.75rem 0 0 0;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.border-top-lg {
  border-top: 1px solid hsl(0, 0%, 18.82%);
}

* {
  color: inherit;
  margin: 0;
  padding: 0px;
  box-sizing: content-box;
  line-height: 1rem;
}

li {
  line-height: 0;
}

a {
  display: inline-block;
  width: inherit;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  line-height: 0;
}

img {
  width: inherit;
  height: auto;
}

input {
  border: 0;
}

button {
  border: 0;
}

svg {
  width: inherit;
  filter: invert(1);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #000000;
  color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

div {
  line-height: 0;
}

.pt-12 {
  padding: 0.75rem 0 0 0;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.border-top-lg {
  border-top: 1px solid hsl(0, 0%, 18.82%);
}

.pt-12 {
  padding: 0.75rem 0 0 0;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.border-top-lg {
  border-top: 1px solid hsl(0, 0%, 18.82%);
}

.header-container {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-container .header-menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.hamburger-icon-container, .reels-icon-container, .alert-icon-container {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.75rem;
  cursor: pointer;
}

.hamburger-icon-container:hover, .reels-icon-container:hover, .alert-icon-container:hover {
  width: 36px;
  height: 36px;
  margin: calc(0.75rem - 6px);
  border-radius: 24px;
  background-color: hsl(0, 0%, 31.82%);
}

.youtube-icon-container {
  width: 6rem;
  height: auto;
  max-width: 6rem;
  margin: 0 0 0 0.75rem;
}
.youtube-icon-container .youtube-icon {
  width: 6rem;
  height: auto;
  max-width: 6rem;
}

.profile-icon {
  width: 2rem;
  height: auto;
  min-width: 2rem;
}
.profile-icon .profile-icon-shape {
  border-radius: 1.5em;
}

.search-container {
  display: block;
  flex: 0 0 40%;
}
.search-container .search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 40px;
  border: 1px solid hsl(0, 0%, 31.82%);
  border-radius: 24px 0 0 24px;
  flex: 1;
  padding: 0 1.5rem;
}
.search-container .search-box input {
  background-color: #000000;
  width: 100%;
  height: 30px;
  border: 0;
  min-width: 0;
  outline: 0;
}
.search-container .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid hsl(0, 0%, 31.82%);
  border-left: 0;
  border-radius: 0 24px 24px 0;
  height: 40px;
  background-color: hsl(0, 0%, 18.82%);
  margin: 0 0.75rem 0 0;
}
.search-container .button-container div {
  align-items: center;
  vertical-align: middle;
  padding: 0 1.5rem;
}
.search-container .mic-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: hsl(0, 0%, 18.82%);
  border-radius: 24px;
  margin: 0 0 0 0.75rem;
}
.search-container .mic-icon-container:hover {
  background-color: hsl(0, 0%, 31.82%);
}

.footer-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid hsl(0, 0%, 18.82%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 0;
}
.footer-container .home-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-container .home-icon-container .footer-icon {
  width: 24px;
  height: 24px;
}
.footer-container .home-icon-container .footer-icon .footer-icon-shape {
  border-radius: 1.5rem;
}
.header-menu-items > .profile-icon-container {
  margin: 0 0.75rem;
}

#sidebar-active {
  display: none;
}

#sidebar-active:checked ~ .aside-container {
  display: block;
}

#sidebar-active:checked ~ #overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 1;
}

.aside-container {
  display: none;
  width: 240px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: scroll;
  z-index: 2;
  background-color: #0f0f0f;
}
.aside-container .yt-aside-icon-container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 1.4rem 2rem 1.4rem 0.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.aside-container .yt-aside-icon-container .yt-aside-icon {
  width: 6rem;
  height: auto;
  max-width: 6rem;
}
.aside-container .yt-aside-all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0.75rem;
}
.aside-container .yt-aside-all-container .yt-aside-nav-container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
.aside-container .yt-aside-all-container .yt-aside-nav-container .aside-nav-box {
  cursor: pointer;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 8px;
  padding: 0 0.75rem;
}
.aside-container .yt-aside-all-container .yt-aside-nav-container .aside-nav-box .aside-nav-icon {
  margin: 0 1.5rem 0 0;
}
.aside-container .yt-aside-all-container .yt-aside-nav-container .aside-nav-box .aside-nav-main-text > p {
  width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}
.aside-container .yt-aside-all-container .yt-aside-nav-container .aside-nav-box .aside-nav-text > p {
  width: 17ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.aside-container .yt-aside-all-container .yt-aside-nav-container .bg-active {
  background-color: hsl(0, 0%, 18.82%);
}
.aside-container .yt-aside-all-container .yt-aside-nav-container .aside-nav-box:hover {
  background-color: hsl(0, 0%, 18.82%);
}
.aside-container .yt-aside-all-container .yt-aside-nav-container .bg-active:hover {
  background-color: hsl(0, 0%, 31.82%);
}
.aside-container .yt-aside-all-container .aside-profile {
  border-top: 1px solid hsl(0, 0%, 18.82%);
}

.aside-footer-box {
  padding: 0.75rem;
}
.aside-footer-box .aside-footer-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}
.aside-footer-box .aside-footer-text p {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: hsl(0, 0%, 61.82%);
  margin: 0 0.5rem 0 0;
}
.aside-footer-box .aside-footer-text-last > p {
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
  color: hsl(0, 0%, 31.82%);
  margin: 0 0.5rem 0 0;
}

@media screen and (max-width: 768px) {
  .dsk-hide {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .mb-hide {
    display: none !important;
  }
}

/*# sourceMappingURL=index.css.map */
